body {
	font-family: 'League Spartan', sans-serif;
	margin:0;
	padding:0;
}
#header {
	width: 100%;
    height: 64px;
    white-space: nowrap;
    overflow-x: auto;
    background-color: #010101;
}
.logo {
	float: left;
	margin-top: 12px;
	margin-left: 64px;
	display: inline-block;
}
.logo:hover {
	cursor: pointer;
}
.buttons {
	float: left;
	margin: 100px;
	display: inline-block;
}
.right {
	float: right;
	margin: 0;
	display: inline-block;
}
#service {
	margin-top: 12px;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 30px;
	font-size: small;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	align-items:center;
	transition: all 0.3s ease 0s;
	border: none;
	border-radius: 18px;
	padding: 10px 10px;
}
#service:hover {
	background-color: #343434;
	cursor: pointer;
}
#button {
	margin-top: 12px;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 10px;
	font-size: small;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	align-items:center;
	transition: all 0.3s ease 0s;
	border: none;
	border-radius: 18px;
	padding: 10px 10px;
}
#button:hover {
	background-color: #343434;
	cursor: pointer;
}
#login {
	margin-top: 15px;
	margin-right: 65px;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	color: #ffffff;
	background-color: #010101;
	border: none;
	border-radius: 18px;
	font-family: 'League Spartan', sans-serif;
	display: flex;
	align-items:center;
	transition: all 0.3s ease 0s;
}
#help {
	margin-top: 16px;
	margin-right: 5px;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
	color: #ffffff;
	background-color: #010101;
	border: none;
	border-radius: 18px;
	font-family: 'League Spartan', sans-serif;
	transition: all 0.3s ease 0s;
}
#lang {
	margin-top: 15px;
	margin-right: 10px;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	color: #ffffff;
	background-color: #010101;
	border: none;
	border-radius: 18px;
	font-family: 'League Spartan', sans-serif;
	display: flex;
	align-items:center;
	transition: all 0.3s ease 0s;
}
#lang:hover {
	background-color: #343434;
	cursor: pointer;
}
#login:hover {
	background-color: #343434;
	cursor: pointer;
}
#help:hover {
	background-color: #343434;
	cursor: pointer;
}
#burger {
	display: none;
}
.welcome {
	float: left;
	background-image: url("../assets/background.png");
	width: 100%;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
}

#expand {
	margin-left: 100px;
	margin-top: 165px;
	width: 30%;
	color: #343434;
	font-size: 55px;
	font-weight: bolder;
	line-height: 60px;
}
#signup {
	margin-left: 100px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #010101;
	border: none;
	height: 50px;
	width: 140px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	transition: all 0.3s ease 0s;
}
#signup:hover {
	background-color: #343434;
	cursor: pointer;
}
.loyal {
	float: left;
	line-height: 45px;
}
#newuser {
	margin-top: 70px;
	margin-left: 100px;
	width: 55%;
	font-size: 40px;
	font-weight: bold;
}
.desc1 {
	float: left;
	margin-left: 100px;
	width: 25%;
	font-size: 20px;
	line-height: 25px;
}
.desc2 {
	float: left;
	margin-left: 50px;
	width: 25%;
	font-size: 20px;
	line-height: 25px;
}
.desc3 {
	float: left;
	margin-left: 50px;
	width: 28%;
	font-size: 20px;
	line-height: 25px;
}
.case1 {
	display: inline-block;
}
.ramsey {
	float: left;
	margin-left: 100px;
	margin-top: 80px;
	width: 32%;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}
#ramseyimg {
	float: right;
	margin-right: 100px;
	margin-top: 80px;
}
.tohelp {
	margin-left: 100px;
	width: 60%;
	font-size: 20px;
	line-height: 20px;
}
.tohelp2 {
	display: inline-block;
}
.retail {
	float: left;
	margin-left: 100px;
	margin-top: 20px;
	width: 23%;
	line-height: 20px;
	font-size: 20px;
}
.petshop {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	width: 23%;
	line-height: 20px;
	font-size: 20px;
}
.flower {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	width: 23%;
	line-height: 20px;
	font-size: 20px;
	margin-bottom: 0;
}
.nav {
	float: right;
	margin-right: 100px;
	display: inline-flex;
	align-items: center;
	column-gap: 20px;
}
#back {
	margin: 0;
	float: left;
	transform: scaleX(-1);
	padding: 15px 15px;
	background-color: #f6f6f6;
	border-radius: 100%;
}
#front {
	margin: 0;
	float: left;
	padding: 15px 15px;
	transition: all 0.3s ease 0s;
	background-color: #eeeeee;
	border-radius: 100%;
}
#front:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}
.case2 {
	display: inline-block;
}
.impact {
	float: right;
	margin-right: 85px;
	margin-top: 120px;
	width: 35%;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	color: #343434;
}
#impactimg {
	float: left;
	margin-left: 100px;
	margin-top: 80px;
}
.smallbiz {
	float: left;
	margin-left: 100px;
	margin-top: 130px;
	width: 34%;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #343434;
}
#smallbizimg {
	float: right;
	margin-right: 100px;
	margin-top: 80px;
}
#casetitle {
	line-height: 45px;
}
.grow {
	float: left;
	margin-top: 30px;
	padding-bottom: 60px;
	width: 100%;
	background-color: #58bd71;
}
#grow {
	margin-top: 65px;
	color: #343434;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
}
#signup2 {
	margin-left: 600px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #010101;
	border: none;
	height: 50px;
	width: 145px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	transition: all 0.3s ease 0s;
}
#signup2:hover {
	background-color: #343434;
	cursor: pointer;
}
.ending {
	width: 100%;
	float: left;
	background-color: #010101;
}
#disc {
	margin-top: 55px;
	margin-left: 100px;
	color: #ffffff;
	font-weight: bold;
}
#address {
	float: right;
	margin-right: 60px;
	margin-top: 95px;
	width: 28%;
	color: #ffffff;
	text-align: right;
	line-height: 20px;
}
#address:hover {
	cursor: pointer;
	color: #afafaf;
}
.links {
	display: inline-block;
}
#link:hover {
	cursor: pointer;
	color: #afafaf;
}
.who {
	margin-top: 210px;
	margin-left: 65px;
	float: left;
	color: #ffffff;
	line-height: 20px;
}
.options {
	margin-top: 210px;
	margin-left: 150px;
	float: left;
	color: #ffffff;
	line-height: 20px;
}
.products {
	margin-top: 210px;
	margin-left: 120px;
	float: left;
	color: #ffffff;
	line-height: 20px;
}
.socials {
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	height: 52px;
	display: inline-flex;
}
.appstores {
	float: right;
	margin-right: 60px;
}
#socialtxt {
	color: #ffffff;
	display: flex;
	align-items:center;
}
#socialbtn {
	padding: 15px 15px;
	margin: 3px;
	transition: all 0.3s ease 0s;
}
#socialbtn:hover {
	cursor: pointer;
	background-color: #343434;
}
#socialtxt {
	column-gap: 10px;
	align-items: center;
	padding: 5px 5px;
	margin: 5px;
	transition: all 0.3s ease 0s;
}
#socialtxt:hover {
	cursor: pointer;
	background-color: #343434;
}
#appstore {
	margin: 5px;
}
#appstore:hover {
	cursor: pointer;
}
.bottom {
	margin-top: 5px;
	width: 100%;
	display: inline-flex;
	color: #afafaf;
}
.bottomleft {
	float: left;
	margin-left: 65px;
	font-size: 14px;
	height: 120px;
}
.bottomright {
	display: inline-flex;
	float: right;
	column-gap: 25px;
	margin-left: 815px;
	font-size: 14px;
}
#finalink:hover {
	cursor: pointer;
	color: #504d50;
}